*.jpg filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.bfd filter=lfs diff=lfs merge=lfs -text
*.gold filter=lfs diff=lfs merge=lfs -text
*.tcc filter=lfs diff=lfs merge=lfs -text
*.x filter=lfs diff=lfs merge=lfs -text
*.xbn filter=lfs diff=lfs merge=lfs -text
*.xc filter=lfs diff=lfs merge=lfs -text
*.xce filter=lfs diff=lfs merge=lfs -text
*.xd filter=lfs diff=lfs merge=lfs -text
*.xdc filter=lfs diff=lfs merge=lfs -text
*.xdce filter=lfs diff=lfs merge=lfs -text
*.xde filter=lfs diff=lfs merge=lfs -text
*.xdw filter=lfs diff=lfs merge=lfs -text
*.xdwe filter=lfs diff=lfs merge=lfs -text
*.xe filter=lfs diff=lfs merge=lfs -text
*.xn filter=lfs diff=lfs merge=lfs -text
*.xr filter=lfs diff=lfs merge=lfs -text
*.xs filter=lfs diff=lfs merge=lfs -text
*.xsc filter=lfs diff=lfs merge=lfs -text
*.xsce filter=lfs diff=lfs merge=lfs -text
*.xse filter=lfs diff=lfs merge=lfs -text
*.xsw filter=lfs diff=lfs merge=lfs -text
*.xswe filter=lfs diff=lfs merge=lfs -text
*.xu filter=lfs diff=lfs merge=lfs -text
*.xw filter=lfs diff=lfs merge=lfs -text
*.xwe filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.0 filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.spec filter=lfs diff=lfs merge=lfs -text
*.28 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/gcc-arm-aarch64-linux-gnu/aarch64-none-linux-gnu/libc/etc/rpc filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.alias filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.state filter=lfs diff=lfs merge=lfs -text
*.list filter=lfs diff=lfs merge=lfs -text
*.dtd filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/gcc-arm-aarch64-linux-gnu/share/info/dir filter=lfs diff=lfs merge=lfs -text
*.5 filter=lfs diff=lfs merge=lfs -text
*.7 filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.2 filter=lfs diff=lfs merge=lfs -text
*.11 filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/lab6/Makefile filter=lfs diff=lfs merge=lfs -text
*.d filter=lfs diff=lfs merge=lfs -text
*.ttc filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_1p_with_ai filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_client filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_client0 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_client1 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_client2 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_client3 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_client4 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_client5 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_client6 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_gpt filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gomoku_server filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gui filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/gui_press filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/lab1 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/lab2 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/lab3 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/lab4 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/lab5 filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/lab6-client filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/lab6-server filter=lfs diff=lfs merge=lfs -text
/labs/嵌入式/code/lab-2022-st/out/test filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.circ filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.ans filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_activation_ELU filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_activation_LeakyReLU filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_activation_PReLU filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_activation_ReLU filter=lfs diff=lfs merge=lfs -text
*.001 filter=lfs diff=lfs merge=lfs -text
*.01 filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_num_layers_1 filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_num_layers_2 filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_num_layers_3 filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_num_neurons_32 filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_num_neurons_64 filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab1/model_visualize/model_num_neurons_96 filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab2/data/MNIST/raw/t10k-images-idx3-ubyte filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab2/data/MNIST/raw/t10k-labels-idx1-ubyte filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab2/data/MNIST/raw/train-images-idx3-ubyte filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab2/data/MNIST/raw/train-labels-idx1-ubyte filter=lfs diff=lfs merge=lfs -text
/labs/计算机视觉/computer_vision/lab4/model filter=lfs diff=lfs merge=lfs -text
*.pkt filter=lfs diff=lfs merge=lfs -text
*.基于CPT的组网实验 filter=lfs diff=lfs merge=lfs -text
/labs/计网/jiwangshiyan/Socket编程实验/可执行码/server filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
/labs/计网/jiwangshiyan/Socket编程实验/源码/server filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.vsidx filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
*.htm filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.recipe filter=lfs diff=lfs merge=lfs -text
*.ilk filter=lfs diff=lfs merge=lfs -text
*.pch filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.tlog filter=lfs diff=lfs merge=lfs -text
*.lastbuildstate filter=lfs diff=lfs merge=lfs -text
*.dep filter=lfs diff=lfs merge=lfs -text
*.idb filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.vcproj filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.pdsync filter=lfs diff=lfs merge=lfs -text
*.pdsyncu filter=lfs diff=lfs merge=lfs -text
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.filters filter=lfs diff=lfs merge=lfs -text
/labs/计网/jiwangshiyan/数据可靠传输协议设计实验/源码/SR/Debug/StopWait.tlog/unsuccessfulbuild filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.pdf !text -filter -merge -diff
